html{
	background: #000;}
html,body{
	margin: 0;
	padding: 0;
	font-family: Roboto-Thin;
	cursor: default;
	user-select:none;/*отключаем выделение документа*/
	-webkit-user-select:none;
	height: 100%;
	width: 100%;
	background: #aaa;
}